<template>
    <div :class="(error) ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
        <label class="text-uppercase">
            {{ placeholder }}
            <i v-if="infoblock" class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="right" :data-title="infoblock"></i>
        </label>
        <textarea :id="'jsoncode-'+field"  :name="field" class="form-control rounded-lg shadow" :placeholder="placeholder" rows="5">{{ value }}</textarea>
        <span class="help-block">{{ helpblock}}</span>
        <span v-if="error" class="help-block">{{ error }}</span>
    </div>
</template>

<script>
    export default {
        name: "CodeJsonComponent",

        props: [ 'field', 'placeholder', 'value', 'error', 'helpblock', 'infoblock', 'mode' ],

        mounted() {
            CodeMirror.fromTextArea(document.getElementById("jsoncode-" + this.field), {
                theme: 'material',
                mode: (this.mode) ? this.mode : "application/ld+json",
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,
                autoCloseBrackets: true,
                lineWrapping: false,
                fold:true,
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });
        }
    }
</script>

<style scoped>

</style>
