<template>
    <div :class="(error) ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
        <label class="text-uppercase">
            {{ placeholder }}
            <i v-if="infoblock" class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="right" :data-title="infoblock"></i>
        </label>
        <input type="text" :name="field" class="form-control rounded-lg shadow" :placeholder="placeholder" :value="value">
        <span class="help-block">{{ helpblock}}</span>
        <span v-if="error" class="help-block">{{ error }}</span>
    </div>
</template>

<script>
    export default {
        name: "InputTextComponent",

        props: [ 'field', 'placeholder', 'value', 'error', 'helpblock', 'infoblock' ]
    }
</script>

<style scoped>

</style>