<template>
    <div>
        <div :class="(error) ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
            <label class="text-uppercase">
                {{ placeholder }}
                <i v-if="infoblock" class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="right" :data-title="infoblock"></i>
            </label>
            <input type="password" :name="field" class="form-control rounded-lg shadow" :placeholder="placeholder" :value="value">
            <span class="help-block">{{ helpblock}}</span>
            <span v-if="error" class="help-block">{{ error }}</span>
        </div>

        <div v-show="confirmed" class="form-group">
            <label class="text-uppercase">{{ confirmed }}</label>
            <input type="password" name="password_confirmation" class="form-control rounded-lg shadow" :placeholder="confirmed">
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputPasswordComponent",

        props: [ 'field', 'placeholder', 'value', 'error', 'helpblock', 'infoblock', 'confirmed' ]
    }
</script>

<style scoped>

</style>