<template>
    <div :class="(error) ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
        <label class="text-uppercase">
            {{ placeholder }}
            <i v-if="infoblock" class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="right" :data-title="infoblock"></i>
        </label>
        <select class="form-control rounded-lg shadow" :name="field" v-model="selectedvalue" @change="selected">
            <option value=""> -- </option>
            <option v-for="item in data" :value="item.value"> {{ item.label }} </option>
        </select>
        <span v-if="error" class="help-block">{{ error }}</span>
    </div>
</template>

<script>
    export default {
        name: "SelectComponent",

        props: [ 'field', 'placeholder', 'value', 'error', 'items', 'infoblock' ],

        data() {
            return {
                data: JSON.parse(this.items),
                selectedvalue: this.value
            }
        },

        methods: {
            selected() {
                return this.$emit('selected', this.selectedvalue)
            }
        }
    }
</script>

<style scoped>

</style>