<template>
     <span>
        <a @mouseover="toggleStatus" @mouseleave="mouseLeave"
           :href="action"
           class="text-on-hover py-2 px-2 g-transparent font-semibold rounded-lg border hover:border-transparent hover:text-white"
           :class="buttonClasses">
            <i class="fa fa-fw" :class="icon"></i><span class="toggle-status uppercase"> {{ buttonMsg }}</span>
        </a>
    </span>
</template>

<script>
    export default {
        name: "ToggleComponent.vue",

        props: [ 'action', 'state', 'conditions' ],

        data() {
            return {
                icon: '',
                buttonClasses: '',
                buttonMsg: '',
            }
        },

        methods: {
            toggleStatus: function() {
                this.icon = (this.state === this.conditionsParse.on) ? 'fa-pause' : 'fa-play';
                this.buttonMsg = (this.state === this.conditionsParse.on) ? this.conditionsParse.off : this.conditionsParse.on;
            },

            mouseLeave: function() {
                this.icon = (this.state === this.conditionsParse.on) ? 'fa-play' : 'fa-pause';
            }
        },
        computed: {
            conditionsParse() {
                return JSON.parse(this.conditions);
            }
        },

        mounted() {
            if(this.state === this.conditionsParse.on) {
                this.icon = 'fa-play';
                this.buttonMsg = this.conditionsParse.off;
                this.buttonClasses = 'border-green text-green-dark hover:bg-red';
            } else {
                this.icon = 'fa-pause';
                this.buttonMsg = this.conditionsParse.on;
                this.buttonClasses = 'border-red text-red-dark hover:bg-green';
            }
        }

    }
</script>

<style scoped>

</style>